* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.top_header {
    margin: 0 20px;
    padding: 0;
    max-height: 60px;
    justify-content: space-between;
    align-items: center;
    display: flex;


    .back {
        color: #230052;
        align-items: center;
        display: flex;
        cursor: pointer;

        i {
            font-size: 25px;
        }

        span {
            margin-left: 5px;
        }
    }

    .theme_styles ul:first-child {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }


    .dropdown {
        min-width: 10em;
        position: relative;
        margin: 1em;
    }

    .dropdown * {
        box-sizing: border-box;
    }

    .select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        padding: 0.5em;
        cursor: pointer;

        span {
            display: flex;
            align-items: center;
        }
    }

    .color {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-right: 5px;
    }

    .select-clicked {
        border: 2px solid black;
        box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.5);
    }

    .caret i {
        font-size: 10px;
    }

    .caret-rotate {
        transform: rotate(180deg);
    }

    .menu {
        list-style: none;
        background-color: #fff;
        border: 1px solid black;
        padding: 0;
        border-radius: 10px;
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 3.7em;
        left: 50%;
        max-width: 100%;
        transform: translateX(-50%);
        opacity: 0;
        display: none;
        z-index: 1;

        li {
            padding: 0.7em 0.5em;
            border-radius: 0.5em;
            cursor: pointer;
            min-width: 9em;
            float: left;

            span {
                display: flex;
            }

        }

        li:hover {
            background-color: #f1f1f1;

        }
    }

    .menu li:hover .color {
        transform: scale(1.12);
        transition: all 0.2s ease-in-out;
        box-shadow: 0 0 0.5;
    }


    .menu-open {
        display: block;
        opacity: 1;

    }

    .icon i {
        font-size: 20px;
        margin-right: 5px;
        padding: 0 5px 10px 5px;
        cursor: pointer;
    }

    .icon i:hover {
        padding-bottom: 7px;
        border-bottom: 3px solid black;
    }

    .try_theme {
        color: #fff;
        background-color: #008060;
        padding: 10px 20px;
        border-radius: 6px;
        font-weight: bolder;
        cursor: pointer;
    }

    .try_theme:hover {
        background-color: #01775a;
    }
}

.mid_sale_header {
    display: flex;
    padding: 0 5px;
    height: 30px;
    font-size: 14px;
    width: 100%;
    background-color: #47c1bf;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.mid_header {
    margin: 0;
    padding: 20px 0;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px;
        margin: 0;
        height: 50px;
        color: #230052;

        .search {
            display: flex;
            align-items: center;

            i {
                font-size: 30px;
                margin-right: 10px;
                cursor: pointer;
            }

            input {
                outline: none;
                border: none;
                color: #230052;
                font-size: 20px;
            }
        }

        .boost {
            font-size: 30px;
            font-weight: bold;
            cursor: pointer;
        }

        .user_and_pay {
            ul {
                padding: 0;
                justify-content: space-between;

            }

            .user {
                cursor: pointer;
                padding: 15px;

                i {
                    margin-left: 15px;
                    font-size: 30px;
                    padding: 10px;

                    ul {
                        display: block;
                        position: absolute;
                        background-color: #fff;
                        border-bottom: 2px solid #230052;
                        color: #230052;
                        border-radius: 2px;
                        height: 90px;
                        width: 150px;
                        top: 0px;
                        visibility: hidden;
                        right: 100px;
                        opacity: 1;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

                        li {
                            font-size: 13px;
                            padding: 15px;
                        }

                        li:hover {
                            color: #1d0142;
                        }
                    }
                }

                i:hover ul {
                    top: 140px;
                    opacity: 1;
                    visibility: inherit;
                    transition: all 5ms ease-in;
                }
            }

            .basket {
                i {
                    cursor: pointer;
                    font-size: 30px;
                    margin-left: 15px;
                }


            }

            .united_states {
                select {
                    height: 30px;
                    border: none;
                    outline: none;
                    border-radius: 6px;
                }
            }
        }
    }
}

.bottom_header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #f1f1f1;
    align-items: center;
    margin: 0;

    .home {
        border-bottom: 2px solid #230052;
    }

    li {
        margin: 0 10px;
        padding: 8px 20px;

        a {
            font-size: 20px;

            text-decoration: none;
            color: #230052;
        }
    }

    .home:hover {
        padding-bottom: 8px;
    }

    .shop:hover,
    .all_collections:hover,
    .about_us:hover,
    .blog:hover,
    .demos:hover {
        padding-bottom: 7px;
        border-bottom: 2px solid #230052;
    }

    li.shop:hover .menu_shop {
        visibility: inherit;
    }

    .menu_shop {
        z-index: 1;
        top: 181px;
        background-color: #fff;
        left: 1px;
        width: 100%;
        display: flex;
        position: absolute;
        padding: 0px 100px;
        margin: 0;
        justify-content: space-around;
        border-bottom: 2px solid #230052;
        visibility: hidden;

        .list {
            display: block;
            background-color: #fff;

            li:first-child {
                color: #230052;
                font-weight: bold;
            }

            li {
                font-size: 14px;
                color: #5c2f97;
                margin: 0;
                padding-bottom: 1px;
                cursor: pointer;
            }

            li:hover {
                color: #230052;
            }

        }

        .img {
            display: block;
            text-align: center;
        }
    }

    .about_us {
        ul {
            color: #5c2f97;
            top: 181px;
            margin: 0;
            padding: 0;
            background-color: #fff;
            position: absolute;
            display: block;
            border-bottom: 2px solid #230052;
            visibility: hidden;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

            li {
                cursor: pointer;
            }

            li:hover {
                color: #230052;
            }
        }
    }

    .about_us:hover ul {
        visibility: inherit;

    }

    .demos {
        ul {
            color: #5c2f97;
            visibility: hidden;
            top: 181px;
            margin: 0;
            padding: 0;
            border-bottom: 2px solid #230052;
            background-color: #fff;
            display: block;
            position: absolute;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

            li {
                cursor: pointer;
            }

            li:hover {
                color: #230052;
            }
        }
    }

    .demos:hover ul {
        visibility: inherit;

    }
}

section {
    background: linear-gradient(to bottom, #c6ecec 0 10%, #fff 50% 100%);
    box-sizing: border-box;
    margin: 0;
    padding: 80px 150px;

    .main_1 {
        margin: 0;
        padding: 0px;

        .img_main1 {
            background-color: gray;
            width: 100%;
            height: 700px;
            border-radius: 20px;
        }

        .nav_main_1 {
            padding: 0 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {

                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;

                li {
                    margin: 0 10px;
                    background-color: #230052;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }

        i {
            display: flex;
            align-items: center;
            font-size: 25px;
            cursor: pointer;
        }
    }

    *.main_2 {
        box-sizing: border-box;

    }

    .main_2 {
        margin-top: 15px;
        box-sizing: border-box;

        h1 {
            font-size: 35px;
            text-align: center;
            color: #230052;
            font-weight: bolder;
        }

        ul {
            flex-wrap: wrap;
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;

            li {
                display: block;
                text-align: center;
                position: relative;

                .img {

                    flex-grow: 1;
                    display: flex;
                    width: 100%;
                    background-color: gray;
                    height: 350px;
                    width: 350px;
                    border-radius: 10%;
                }

                a {
                    text-decoration: underline;
                    color: #47c1bf;
                    text-decoration: underline;
                    font-size: 25px;

                }
            }
        }
    }
}